/* styles.css */


img {
    height: auto;
    width: 500px;
}

h1,
h2,
p {
    font-family: monospace;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-weight: 600;
}

p {
    font-size: 20px;
    background-color: black;
    color: beige;

}

.center {
    display: block;
    text-align: center;
    margin: auto auto;
}

.inline {
    margin: 5px 25px;
    display: inline;
}

.inline-block {
    display: inline-block;
}

.showcase_image {
    width: 200px;
    height: auto;
}